@import '../../../scss/colors';

.table-wrapper {
    margin: 1rem 0;
    width: 100%;
    overflow: scroll;
    border: 1px solid $secondary-text-color;
}

.table-container {
    display: flex;
    flex-direction: row;
}

.table-column {
}

.table-row {
    padding: 0.45rem 0.75rem;
    &.amount {
        &:before {
            content: '$';
            margin-right: 1rem;
        }
    }
}

.age{
  text-align: center;
}

.table-row--heading {
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid $secondary-text-color;
}
